/* PAGINATION */

.page-link,
.page-item {
  background-color: rgba(76, 84, 76, 0.85);
  color: #dedad9;
  border: none;
  opacity: 92%;
  border-radius: 5%;

  &:hover {
    color: black;
    background-color: #dedad9;
  }
}
