.bannerImage {
  width: 55%;
  height: 100% !important;
  opacity: 95%;
  background-color: rgba(247, 250, 244, 0.4);
  padding: 0px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.bannerText {
  font-size: 30px;
  padding: 20px;
}

.bannerContent,
.featuredContent {
  background-color: rgba(247, 250, 244, 0.4);
  padding: 0px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  margin-top: 0;
  margin-bottom: 15px;
}

.featureInfo {
  padding: 30px;
}

.featuredContent {
  font-size: 30px;
  height: 300px;

  h3 {
    font-size: 45px;
  }
}
.BandB {
  height: 100%;
  background-color: rgba(247, 250, 244, 0.4);
  padding: 0px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  padding: 0px;
}

.feature {
  height: 100%;
  width: 50%;
}

.featuredLink {
  color: black;
  text-decoration: underline;

  &:hover {
    color: #4c544c;
  }
}
