.form-group {
  margin-bottom: 15px;
}

.leftSide,
.rightSide,
.contactForm,
#calendar,
.about {
  background-color: rgba(247, 250, 244, 0.4);
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.signUp {
  width: 60%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.btnCustom {
  background-color: #4c544c;
  color: #dedad9;
  border: none;
  font-weight: 300;
  width: 40%;
}

h2,
h5 {
  font-family: "Chivo", sans-serif;
  font-weight: 300;
  font-size: 25px;
  color: #dedad9;
}

.accountTitle {
  color: black;
  margin-bottom: 40px;
}

.contactTitle {
  color: black;
  margin-bottom: 20px;
}
