.content {
  padding: 16px;
  margin-top: 3%;
  margin-bottom: 3%;
}

.regFont {
  font-family: "Chivo", sans-serif;
  font-weight: 300;
  font-size: 25px;
  color: #dedad9;
}

.boldFont {
  font-family: "Chivo", sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #dedad9;
}

h1,
h4,
.logo {
  text-align: center;
  padding: 4px;
  letter-spacing: 1.5px;
}

h2,
h5 {
  font-family: "Chivo", sans-serif;
  font-weight: 300;
  font-size: 25px;
  color: #dedad9;
}

/* MAIN */

.mainContent {
  padding: 40px;
}

.description {
  margin-top: 20px;
  margin-bottom: 85px;
}

/* MAP */

.map-responsive {
  padding-top: 20%;
  padding-bottom: 40%;
  margin-top: 50px;
  position: relative;
  height: 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

/* LOCATION AND TIME */

.timeInfo,
.dateInfo,
.businessInfo {
  border-bottom: solid #dedad9 1px;
  padding: 20px;
  font-family: "Chivo", sans-serif;
  background-color: rgba(76, 84, 76, 0.8);
  color: #dedad9;
}

a {
  color: #dedad9;
  text-decoration: none;
}

a:hover {
  color: #dedad9;
  text-decoration: none;
  cursor: pointer;
}

#busLink {
  color: #dedad9;
  text-decoration: none;
}

#calLink {
  color: black;
}

#busLink:hover {
  color: black;
  cursor: pointer;
}

.dateTimeDetails {
  margin-top: 5%;
}

/* BUTTONS */

.userIntButton {
  background-color: rgba(76, 84, 76, 0.85);
  color: #dedad9;
  border-radius: 5px 10px 5px 10px;
  height: 45px;
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.favorite {
  margin-top: 55px;
}

.rsvp,
.share {
  margin-top: 40px;
}
/* SECTIONS */
.leftSide,
.rightSide,
.contactForm,
#calendar,
.about {
  background-color: rgba(247, 250, 244, 0.4);
  padding: 50px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  margin-top: 5px;
}

.shareIcon {
  margin: 15px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.featureImg {
  width: 100%;
}
