.account {
  margin-top: 6%;
  margin-bottom: 8%;
}

.userImg {
  height: 80px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  margin-top: 0;
  margin-left: 21px;
  display: block;
  position: relative;
}

.imgContainer {
  position: absolute;
}
.imgContainer .editButton {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #dedad9;
  border-radius: 60%;
  padding: 6px;
  font-size: 23px;
  background-color: rgba(76, 84, 76, 0.85);
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.userInfo {
  padding: 10px;
}

.accountTitle {
  font-family: "Chivo", sans-serif;
  font-weight: 300;
  font-size: 28px;
  margin-top: 10px;
}

.userOptionList {
  margin-left: 30px;
}

.listItem {
  margin-bottom: 15px;
}

.mainAcct {
  background-color: rgba(247, 250, 244, 0.4);
  width: 65%;
  margin-right: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  padding: 50px;
}
.accountOptions {
  background-color: rgba(247, 250, 244, 0.4);
  width: 25%;
  margin-left: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  padding: 50px;
}

.accountNavIcon {
  margin-right: 15px;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-acct {
  font-family: "Chivo", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: black;

  &:hover {
    color: #dedad9;
    background-color: rgba(76, 84, 76, 0.85);
    padding: 10px;
  }
}

.logOut {
  background-color: rgba(76, 84, 76, 0.85);
  color: #dedad9;
  border-radius: 5px 10px 5px 10px;
  height: 45px;
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  margin-top: 86px;
}
